.intro {
  background: linear-gradient(to right, #817b7b, #050506);
}

body {
  background-color: #aeb2b2;
}

nav {
  background-color: #4e5457;
}

.cards .card {
  background: linear-gradient(to bottom, #b8b8b8, #373636);
  border-radius: 10px;
}

.end-1 {
  background-color: #4e5457;
  color: #fff;
  border-radius: 5px 10px 10px 5px;
}

.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.load {
  font-size: 90px;
  color: #fff;
  animation: rotate 1s linear infinite;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.1);
  border-top: 8px solid #009ee7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.card{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  

}
.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 2px 50px 1px #5183a4;
}
